
#verde1{
    background: greenyellow;
    height: 80px;
    text-align: center;
    font-style: italic;
    line-height: 60px;
}

#gris1, #gris2, #gris3, #gris4{
    background: #87aade;
    height: 150px;
    color: black;
}

#a, #b, #c, #d{
    background: #cccccc;
    height: 150px;
    color: black;
}

#tablet, #mobile, #desktop{
    background: aqua;
    height: 60px;
    text-align: center;
    font-style: italic;
    line-height: 60px;
}

#cara1, #cara2{
    background: orange;
    height: 80px;
    text-align: center;
    font-style: italic;
    line-height: 80px;
}

#verde2{
    background: greenyellow;
    height: 60px;
    text-align: center;
    font-style: italic;
    line-height: 60px;
}